@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Overpass+Mono:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&family=Rubik+Glitch+Pop&family=Rubik+Pixels&display=swap');
@import url("https://use.typekit.net/kyh2zsd.css");
@font-face {
  font-family: 'ft88_school';
  src: url('assets/FT88-School.otf') format('opentype'); /* Use url() and the correct format */
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #2b0a95;
  position: relative;
}
#background-container {
  transition: background-image 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* transition: background-image 1s ease-in-out; */
  height: 100vh; /* Makes the height equal to the viewport height */
  width: 100%;   /* Ensures it spans the full width */
  position: relative; /* Make sure it's positioned properly */
}
#background-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* adjust depending on how much fade you want */
  background: linear-gradient(to bottom, rgb(43, 10, 149,0.4), transparent);
  pointer-events: none; /* lets clicks go through */
  z-index: 0; /* adjust so it's above the background but below UI if needed */
}
#background-gradient-overlay-2 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* adjust depending on how much fade you want */
  background: linear-gradient(to top, rgb(43, 10, 149,0.4), transparent);
  pointer-events: none; /* lets clicks go through */
  z-index: 0; /* adjust so it's above the background but below UI if needed */
}
.rubik-pixels-regular {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .inspiration-regular {
    font-family: "Inspiration", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .rubik-glitch-pop-regular {
    font-family: "Rubik Glitch Pop", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .rubik-80s-fade-regular {
    font-family: "Rubik 80s Fade", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .overpass-choose_pin {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  h1 {
    /* margin: 1.5rem; */
    top:1.5rem;
    font-size: 2.5rem;
    z-index: 1;
    font-family: 'ft88_school', sans-serif;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }
  /*body text*/
  p1 {
    font-family: "proforma", serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    font-size:15px;
    color: #390000;
  }
   /*name text*/
   p2 {
    font-family: "Inspiration", cursive;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    font-size:20px;
    color: #390000;
  }
   /*bottom text*/
   p3 {
    font-family: "proforma", serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    font-size:12px;
    color: #390000;
  }
  p{
    font-family: "Overpass", sans-serif;
    color: #390000;
  }
  #title{
    position: fixed; /* Fix it to the viewport */
    bottom: 20px; /* Adjust the distance from the bottom */
    left: 20px; /* Adjust the distance from the right */
    z-index: 1;
  }
  #title img{
    width: 250px;
    height: auto;
  }

 body {
    margin: 0;
    /* font-family: 'Arial', sans-serif; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  #map {
    position: fixed; /* Or 'absolute' depending on your layout */
    top: 0;
    left: 0;
    width: 90%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure it's on top of other elements */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;  }

  /* Style the main zoom control container */
  #map .leaflet-control-zoom {
    border: 1px solid #8F9DAA; /* Example border */
    background-color: white; /* Default background */
    border-radius: 0; /* Rounded corners for the container */
  }
    /* Style for the zoom control container */
  .leaflet-control-zoom {
    position: absolute !important;
    /* top: 390px; */
    top:300px;
    /* top: 50%; */
    right: 10px;
    /* transform: translate(0, -50%); */
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }
  
  #map .leaflet-control-zoom a.leaflet-control-zoom-in,
  #map .leaflet-control-zoom a.leaflet-control-zoom-out{
  display: block; /* Stack them vertically */
  width: 30px; /* Set a fixed width */
  height: 30px; /* Set a fixed height */
  line-height: 30px; /* Vertically center the text */
  font-size: 20px; /* Adjust the size of the '+' and '-' */
  color: #ffffff; /* Set the color of the '+' and '-' */
  text-align: center; /* Center the '+' and '-' horizontally */
  text-decoration: none; /* Remove default link underline */
  background-color: #D4DADC; /* Default button background */
}
  
  /* Style the top button (zoom in) to have rounded top corners */
  #map .leaflet-control-zoom .leaflet-control-zoom-in {
    border-radius:0;
  }
  
  /* Style the bottom button (zoom out) to have rounded bottom corners and no bottom border */
  #map .leaflet-control-zoom .leaflet-control-zoom-out {
    border-radius:0;
  }
  
  /* Style the buttons on hover */
  #map .leaflet-control-zoom a:hover {
    background-color: #2b0a95;
  }

  /* add pin */
  #add{
    height: 45px;
    width: 45px;
    background-color: #ffffff;
    /* border: none; */
    border: .5px solid #390000;
    cursor: pointer;
    font-family: 'ft88_school', sans-serif;
    font-size: 3rem;
    text-align: center;
    line-height: 3.35rem;
    color: #390000;
    top: 1.5rem;
    right: 1.5rem;
    position:fixed;
  }
  .pin_overlay{
    display: none;
    border: .5px solid #390000;;
    z-index: 1000;
    height: auto;
    max-height: 90vh;
    width: 660px;
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -50%);
    position: fixed; 
    overflow: auto;
    cursor: move;
  }
  .action_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Push elements to the edges */
    align-items: flex-start; /* Align items to the start (top) */
  }
  .pin_options_menu {
    display: flex;
    flex-direction: column;
}
  .first_row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
  }
  .second_row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: left;
  }
  .choose_pin{
    height: 25px;
    width: 165px;
    border: none;
    font-family: "Overpass", sans-serif;
    border: .5px solid;
    color: #390000;
  }

  .pin1, .pin1_filter{
    background-color: #00EF1C;
  }
  .pin2, .pin2_filter{
    background-color: #00F8EC;
  }
  .pin3, .pin3_filter{
    background-color: #ff9f04;
  }
  .pin4, .pin4_filter{
    background-color: #FFC1F6;
  }
  .button_filter.pinAll_filter{
    background-color: #ffdd00;
    width: 60px;
  }
  
  .close_pin_overlay{
    height: 50px;
    width: 50px;
    /* border: none; */
    border: .5px solid #390000;
    background-color: #ffffff;
    font-family: 'ft88_school', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    line-height: 3.5rem;
  }
  #overlay_header{
    height: 49px;
    width: 609px;
    border: .5px solid #390000;
    font-family: "Overpass", sans-serif;
    text-align: center;
    background-color: #ffffff;
    line-height: 3.5rem;
  }
  .instructions{
    width: 659px;
    /* width: 440px; */
    height: 40px;
    line-height: 1rem;
    background-color: #ffdd00;
    border: .5px solid #390000;
    /* font-family: "Overpass", sans-serif; */
    font-family: "proforma", serif;
    text-align: center;
    /* display: none; */
  }
  .comment_container{
    border: .5px solid #390000;;
    flex-grow: 1; 
    text-align: center;
    padding: 20px;
  }
  .prompt{
    display: block;
    margin: 5px;
  }
  .name{
    margin: 5px;
  }
  .residence{
    margin: 5px;
  }

.pin_1 input[type="text"],
.pin_2 input[type="text"],
.pin_3 input[type="text"],
.pin_4 input[type="text"] {
  width: 100%;
  padding: 8px 12px;
  margin: 5px 0;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "proforma", serif;
  outline: none;
}
.q1:focus, 
input[type=text]:focus {
  background-color: rgba(255, 255, 255, 0.378);
}

.q1{
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "proforma", serif;
  outline: none;
  font-size:15px;
  height: 50px;
  resize: none;
}

.q2{
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  font-size:12px;
}

.q3{
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    font-size:12px;
}
#statement{
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  font-size:12px;
  font-family: "proforma", serif;
}
.send_comment{
  border: .5px solid #390000;
  height: 30px;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.378);
  /* border: none; */
  margin-top: auto;
  position: relative;
  display: inline-block;
  font-family: "Overpass", sans-serif;
  text-align: center;
  line-height: 26px;
}
/* .send_comment:active {
  background-color: rgba(255, 255, 255, 0.5);
} */
.send_comment:disabled {
  border: .5px solid #390000;
  opacity: 0.4;
  cursor: not-allowed;
}
.send_comment:not(:disabled):active {
  border: .5px solid #390000;
  background-color: rgba(255, 255, 255, 0.5);
}

.my_buttons{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  z-index: 1000;
  position:fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%,0);

  /* right: 20rem; */
  /* gap: 1rem; */
}
.button_filter{
  border: solid #390000;
  border-width: 1px .5px;
  height: 25px;
  width: 180px;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  color: #390000;
  opacity: 0.75;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}
.button_filter.active {
  opacity: 1;
}

.leaflet-pixel-icon {
  border: none;
}

#toggle-map-btn{
  z-index: 2000;
  position:fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  height: 25px;
  width: 85px;
  background-color: white;
  border: 0.5px solid #390000;
  text-align: center;
  font-family: "Overpass", sans-serif;
  line-height: 27px;
  color: #390000;
  box-sizing: border-box; 
  text-transform: uppercase;
}

.background_location_image{
  z-index: 0;
  position:fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  height: 25px;
  width: 85px;
  /* margin: 5px; */
  background-color: white;
  border: 0.5px solid #390000;
  text-align: center;
  color: #390000;
}

.about{  
  z-index: 2000;
  position:fixed;
  top: 1.5rem;
  left: 1.5rem;
  height: 25px;
  width: 85px;
  /* margin: 5px; */
  background-color: white;
  border: 0.5px solid #390000;
  text-align: center;
  font-family: "Overpass", sans-serif;
  line-height: 27px;
  color: #390000;
  box-sizing: border-box;
}
.about_overlay{
  top: 3.5rem; 
  left: 1.5rem;  
  display: none;
  border: 0.5px solid #390000;
  z-index: 2001;
  height: auto;
  max-height: 90vh;
  width: 370px;
  box-sizing: border-box; 
  padding: 2px 20px 17px;
  position: fixed; 
  overflow: auto;
  background-color: rgb(255, 255, 255);
}
.about_overlay p {
  font-family: "proforma", serif !important;
}
.image-upload-button {
  display: inline-block;
  font-family: "Overpass", sans-serif;
  border: .5px solid #390000;
  height: 25px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.378);
  /* border: none; */
  margin-top: auto;
  position: relative;
  text-align: center;
  line-height: 26px;
}
.popup-content{
  box-sizing: border-box; 
  padding: 25px 36px 10px 34px;
  color: #390000;
  text-align: center;
  /* width: 380px !important; */
}
.leaflet-popup-content-wrapper {
  position: relative;
  width: 380px !important;
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}

.leaflet-popup-tip {
  display: none !important;
}
.leaflet-popup-content p {
  /* margin: 0 !important; */
  font-family: "proforma", serif;
  box-sizing: border-box;
  color: #440e0e;
}
.leaflet-popup-content {
  width: 380px !important;
  box-sizing: border-box; 
  margin: 0 !important;
}
.leaflet-popup {
  position: relative;
}
.leaflet-popup.leaflet-zoom-animated{
  width: 380px !important;
  left: -185px !important;
}
.popup-outside-content {
  position: absolute;
  box-sizing: border-box; 
  /* padding: 25px 36px 10px 34px; */
  text-align: center;
  /* max-width: 450px; */
  width: 380px;
  display: none;
  z-index: 0;
  /* overflow: auto; */
  cursor: move;
  top: 50%; 
  left: 50%;  
  transform: translate(-50%, -50%);
  overflow: visible;
}
.popup-outside-content p{
  font-family: "proforma", serif;
  color: #390000;
}

.leaflet-container a.leaflet-popup-close-button{
  color: #390000 !important;
}
.image-upload-button{
  margin-top: 1.2rem;
}
.background_location_image{
  font-family: "Overpass", sans-serif;
}
hr{
  border-width: .5px;
  border-style: inset;
  display: block;
  color: #390000;
}